
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --transition-principal: 0.35s;
}

body {
  font-size: 1.6rem;
  font-family: Sofia Sans, sans-serif;

  background-color: #dceaff;
}




/* Anúcio em si */
.caixa-anuncio {
  height: 430px;
  width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.071);
  border: 1px solid rgba(138, 138, 138, 0.252);
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  display: grid;
  grid-template-rows: 200px auto auto;
  transition: 0.15s;
  position: relative;
  margin-bottom: 20px;
  text-decoration: none;
}

.caixa-anuncio:hover {
  box-shadow: 0 0 15px rgba(134, 134, 134, 0.629);
  cursor: pointer;
  transform: scale(1.003);
}

.caixa-anuncio svg {
  color: #c92a2a;
  display: none;
  position: absolute;
}

.caixa-anuncio:hover svg {
  width: 28px;
  color: #c92a2a;
  background-color: rgb(253, 253, 253);
  box-sizing: initial;
  padding: 5px;
  border-radius: 10000px;
  border: 1px solid rgba(128, 128, 128, 0.13);
  display: inline-block;
  position: absolute;
  right: 16px;
  top: 16px;
}

.caixa-anuncio:hover svg:hover {
  box-shadow: 0 0 10px rgba(197, 197, 197, 0.233);
}

.caixa-anuncio .imagem img {
  margin-top: 10px;
  height: 200px;
  width: 100%;
  user-select: none;
  object-fit: contain;
}

/* INFO-PRODUTO*/

.caixa-anuncio .info-prod {
  padding: 10px;
  display: grid;
  grid-template-rows: 80px 1fr;
  text-align: start;
}

/* Titulo produto*/
.caixa-anuncio .info-prod .caixa-titulo {


  color: rgb(63, 63, 63);

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  margin-top: 10px;


}

/* Preço produto */
.caixa-anuncio .info-prod .preco {
  margin-top: 12px;
  margin-bottom: 20px;
  align-self: end;
  font-size: 28px;
  font-weight: 900;
  color: #c92a2a;
  position: relative;

  align-self: end;
}

.caixa-anuncio .info-prod .preco::after {
  content: "À vista no pix";
  position: absolute;
  font-size: 12px;
  bottom: -12px;
  left: 0;
  color: rgb(100, 100, 100);
}

/* BOTÃO  COMPRAR*/
.botao-comprar {
  text-align: center;

  align-self: end;
}

.botao-comprar button {
  width: 95%;
  height: 40px;

  font-family: sofia sans;
  
  border: none;
  color: white;
  background-color: rgb(0, 40, 121);
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.1s;

}

.botao-comprar button:hover {
  cursor: pointer;
  transform: scale(1.005);
}

