
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --transition-principal: 0.35s;
}

body {
  font-size: 1.6rem;
  font-family: Sofia Sans, sans-serif;

  background-color: #dceaff;
}


footer {

  display: grid;
  grid-template-rows: 75% 25%;
  height: 60rem;

}


footer .parte1 {
  color: white;
  background-color: #123167;
}

footer .parte1 .itens-footer-p1{
  max-width: 1920px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

footer .parte1 .itens-footer-p1 ul {
  list-style: none;
  height: 20.4rem;
}
footer .parte1 .itens-footer-p1 ul li svg {
  width: 2rem;
  position: absolute;
  left: 0;
}
footer .parte1 .itens-footer-p1 ul span {
  color: #82c91e;
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
}

footer .parte1 .itens-footer-p1 ul li {
  font-size: 18px;
  padding: 5px 0;
  padding-left: 20px;
  position: relative;
}

footer .parte1  .itens-footer-p1 ul li a {
  text-decoration: none;
  color: white;
}

footer .parte1 .itens-footer-p1 ul li a:hover {
  color: rgb(210, 246, 255);
}
footer .parte1 .itens-footer-p1 ul li:hover svg {
  color: rgb(63, 145, 166);
}

footer img {
  height: 80%;


}

footer .parte2 {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

  color: white;
  font-size: 24px;
  background-color: #001035;
}

footer .parte2 .redesocial-container {
  display: flex;
  gap: 32px;
}

footer .parte2 .redesocial-container img {
  height: 5rem;
  
}

footer .parte2 .redesocial-container img:hover {
  cursor: pointer;
}

@media (max-width: 1080px) {
  
  /* FOOTER CONTAINER */
  footer {
    height: auto;
    grid-template-rows: 1fr 25%;
    min-width: 0;
  }
  
  /* PARTE 1 */
  footer .parte1 .itens-footer-p1 {

    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:  2rem;
    height: auto;
    padding: 2.4rem 0;
  }

  footer .parte1 .itens-footer-p1 ul {
    margin: 0;
    text-align: center;
    padding: 0;
    height: auto;
    width: 100%;
  }

  footer .parte1 .itens-footer-p1 ul li {
    padding: 0.5rem;
    border-top: 2px solid #0e264e;

    
  }
  footer .parte1 .itens-footer-p1 ul li:last-child {
    border-bottom: 2px solid #0e264e;
  }
  
  footer .parte1 .itens-footer-p1 ul li svg {
    display: none;
  }

  footer .parte1 .itens-footer-p1 .titulo {
    font-size: 16px;
    margin: 1.6rem 0;
  }
  
  footer .parte1 .itens-footer-p1 ul a{
    flex-wrap: wrap;
    font-size: 14px;
  }



  /* PARTE 2*/
  footer .parte2 p {
    font-size: 2rem;
  }
  footer .parte2 .redesocial-container {
    gap: 1.2rem;
  }
  footer .parte2 .redesocial-container img {
    height: 3rem;
  }
}