
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --transition-principal: 0.35s;
}

body {
  font-size: 1.6rem;
  font-family: Sofia Sans, sans-serif;

  background-color: #dceaff;
}


/* PUSH MENU 2 */
.push-menu-container {


  position: fixed;
  height: 100vh;
  width: 320px;
  padding-right: 15px;
  box-sizing: content-box;
  background-color: #09092b;
  display: none;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 9999;
  overflow-y: overlay;
  transition: transform 0.5s;
  flex-direction: column;
  
  font-family: Sofia Sans;

}

.push-menu-container .area-logo {
  width: 100%;


  background-color: rgb(15, 15, 65);
  box-shadow: -1px 10px 16px -3px rgba(19, 19, 19, 0.75);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  padding-right: 16px;

}

.push-menu-container .area-logo h2 {
  font-size: 32px;
  color: white;
}

.push-menu-container .area-logo svg {
  color: white;
  width: 28px;
}

.push-menu-container .area-logo svg:hover {
  cursor:pointer
}

.push-menu-container .area-logo button {

  color: white;
  background: none;
  border: none;
  font-size: 24px;

  
}

.push-menu-container .area-logo button:hover {
  cursor: pointer;
}



#blur {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 888;
  background-color: black;
  opacity: 0.3;
}

.btn-montepc {
  padding: 16px 0px;
  font-size: 24px;
  font-weight: bold;
  margin: 24px 24px;
  border-radius: 6px;
  /* border: 5px solid rgb(49, 99, 0); */
  border: none;
  background-color: #37a117;
  color: white;
  
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 6px;

}

.btn-montepc svg {
  height: 24px;
}


.btn-montepc:hover {
  background-color: #23660f;
  cursor: pointer;
}

/* DROPDOWN MENU */
.dropdown-hamburguer {
  color: white;
  height: auto;
}

.dropdown-hamburguer > li {
  padding: 12px 0;
  padding-left: 16px;


  
}

.dropdown-hamburguer li {
  justify-content: space-between;
  display: flex;
  align-items: center;
}



.dropdown-hamburguer li:hover {
  background-color: rgb(2, 2, 12);
  cursor: pointer;
}

.dropdown-hamburguer li svg {
  height: 24px;
  transition: transform 0.25s;
  margin-right: 22px;
}

.dropdown-hamburguer li.active svg {
  transform: rotate(180deg);

}

/* sub menu */

.sub_m {
  display: block;
  overflow: hidden;
  height: 0;
  transition: height 0.5s;
  background-color: rgb(6, 6, 31);

}

li.active, .sub_m.active {
  background-color: rgb(6, 6, 31);
}
.sub_m.active {
  border-bottom: 2px solid rgb(7, 5, 20);

}

.sub_m a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 6px;
  padding-left: 28px;
  color: white;

  font-size: 18px;
  cursor: pointer;

}

.sub_m_cam_2 {
  display: block;
  overflow: hidden;
  background-color: rgb(4, 4, 22);
  height: 0;
}

.sub_m_cam_2 a {
  padding-left: 38px;
  
}

.sub_m.active > .sub_m_cam_2.active {
  background-color: rgb(4, 4, 22);
  border-bottom: none;
}
