/*
global

*/
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --transition-principal: 0.35s;
}

body {
  font-size: 1.6rem;
  font-family: Sofia Sans, sans-serif;

  background-color: #dceaff;
}


/* DESKTOPS ALTA RESOLUÇÃO*/

/* -=-=- Container Header -=-=- */
header {
  width: 100%;
  white-space: nowrap;
  background: rgba(227, 238, 255, 1);
  background: linear-gradient(
    90deg,
    rgba(201, 221, 255, 1) 0%,
    rgba(227, 238, 255, 1) 8%,
    rgba(242, 247, 255, 1) 50%,
    rgba(227, 238, 255, 1) 92%,
    rgba(188, 213, 255, 1) 100%
  );


}

/* -=-=- Nav Bar -=-=-*/

nav {
  height: 160px;
  width: 100%;
  max-width: 1920px;
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 0 80px;

  margin: 0 auto;

}

.icon-nav {
  height: 20%;
  color: #1a4895;
  cursor: pointer;
}

nav .logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}
nav .logo {
  height: 75%;
}

/* Elementos mobile */
nav .container-mobile {
  display: none;
}
nav .logo-mobile-texto {
  display: none;
}

nav .hamburguer-mobile {
  display: none;
}


/* Barra pesquisa*/
header form {
  background-color: #fff;
  width: calc(100vw - 100rem);
  height: 40px;
  max-width: 80rem;
  display: flex;
  border: 2px solid #1a4895;
  border-radius: 5px;

  padding-left: 12px;
  padding-right: 16px;
  box-shadow: 0px 0px 10px rgba(81, 81, 81, 0.274);

}

header form:focus {
  color: white;
}
header form > * {
  border-radius: 10px;
}

.icone-pesquisa {
  height: 100%;
}

header form input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-family: Sofia Sans;
  font-size: 17px;
}

header form button {
  border: none;
  background-color: white;

  display: flex;
  align-items: center;
}

header form button .icone-pesquisa {
  stroke: #1a4895;
  stroke-width: 7%;
  height: 70%;
  cursor: pointer;
}

/* Flexbox usuário */
.user-mensagem {
  width: 185px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 35%;
}

nav .user {
  height: 80%;
  color: #1a4895;
  stroke: #1a4895;
  stroke-width: 3px;
  border: 3px solid #1a4895;
  border-radius: 20000px;
}



nav a, #user-name {
  font-weight: 700;
  text-decoration: none;
  color: rgb(37, 37, 37);
}

nav a:visited {
  color: rgb(37, 37, 37);
}

nav a:hover {
  color: #1e51a9;
}

/* Carrinho e Desejos*/
.opcoes-nav {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 42px;
}

.opcoes-nav svg {
  height: 32px;
}

.opcoes-nav a {
  width: auto;
}
/*-=-=- Menu -=-=- */
.menu {
  height: 38px;
  background-color: #1a4895;
  color: white;
  font-size: 1.99rem;
  padding: 0 15rem;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.menu > li {
  position: relative;
  border-left: 2px solid #123167;
  transition: var(--transition-principal);

}

.menu > li > a > svg {
  height: 2.2rem;
  color: white;
}

.menu > li > a .mouse {
  color: white;
  fill: white;
}

.menu > li > a {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 0 3.5rem; 

}

.menu > li:last-child {
  border-right: 2px solid  #123167;
}

.menu > li:hover {
  /* background-color:rgb(251, 253, 255);
  color: #1a4895; */

  background-color:#123167;  
}

.menu > li > a:hover svg {

}

.menu-dep {
  cursor:  default;
}
/* sub menu */

.sub-menu {
  display: none;
  background-color:rgb(251, 253, 255);
  z-index: 99999;
  position: absolute;
  width: 320px;

  box-sizing: content-box;
  box-shadow: -2px 5px 11px 0px rgba(66, 66, 66, 0.288);
  padding: 16px 1px;
  font-size: 18px;

  transition: opacity var(--transition-principal);
  opacity: 0.5; 

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}




.sub-menu > li {
  display: flex;
}

.sub-menu > li:hover {
  background-color: rgb(224, 232, 255);
}

.sub-menu > li a {
  color: rgb(44, 44, 44);
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 12px;
  justify-content: space-between;
}

.sub-menu > li > a > svg {
  width: 16px;
}

/* sub-menu_2 */

.sub-menu_2 {
  display: none;
  position: absolute;
  width: 135%;
  height: 100%;
  left: 96%;
  top: 0;
  background-color: #f1f1f1;
  z-index: 2;
  box-shadow: 6px 5px 11px 0px rgba(66, 66, 66, 0.288);
  border-bottom-right-radius: 5px;
  padding: 25px 0;
  font-size: 16px;

  transition: 0.5s;
}


.sub-menu_2 > li a {
  padding: 6px 25px;
}

.sub-menu_2 > li a:hover {
  background-color: #e6e6e6;

}

.sub-menu > li:hover .sub-menu_2 {

}


/* -=-=-=- MEDIA QUERIES -=-=-=- */

/* Computadores desktop de resolução média */
@media (max-width: 1568px) {
  header form {
    width: calc(100vw - 82rem);
    max-width: 70rem;
  }

  nav {
    padding: 0 40px;
  }
}
/* Desktops ou tablets de resolução baixa */
@media (max-width: 1320px) {
  .menu > li a{
    padding: 6px 24px;
    font-size: 18px;
  }
  
  nav {
    justify-content: space-between;
    height: 120px;
  }
  
  header form {
    width: calc(100vw - 72rem);
    max-width: 60rem;
    height: 36px;
  }

  .menu a{
    padding: 0 2.5rem;
  }


  .opcoes-nav {
    gap: 24px;
  }
}

/* Tablets e outros dispositivos mobiles */
@media (max-width: 1080px) {
  /* Removidos*/
  nav .logo-container {
    display: none;
  }
  nav .logo {
    display: none;   
  }
  .menu {
    display: 	none;
  }

  .user-mensagem {
    display: none;
  }

  .desejos, .link-desejos {
    display: none;
  }
  /* HEADER*/
  header {
    background:#0d254e;
    display: fixed;
  }
  
  /* NAV */
  header {
    position: fixed;
    top: 0;
    z-index: 111;
  }
  
  nav {
    height: auto;
    width: 100%;


    display: flex;
    justify-content:space-between;
    gap: 10px;
    padding: 1.2rem 1.6rem;
  }
  

  /* logo */
  nav .logo-mobile-texto {
    display: block;
    max-width: auto;
    height: 100%;
    min-width: auto;
    
  }

  /* Barra de pesquisa */
  header form {
    height: 3.6rem;
    width: calc(100vw - 17.8rem);
    max-width: 91rem;
    max-width: none;
  }

  header input {
    min-height: auto;
    min-width: 0;
  }
  /* ICONES*/

  nav .container-mobile {
    height: 3.2rem;
    display: flex;
    align-items: center;
  }
  .hamburguer-mobile {
    display: block !important;
    height: 3rem;
    color: white;
  }

  .hamburguer-mobile:hover {
    cursor: pointer;
  }
  
  .link-carrinho {
    height: 35%;
    display: flex;
    align-items: center;
  }

  .carrinho {
    color: white;
    height: 2.8rem !important;

  }

  .slick-arrow {
    display: none;
  }

  .container-home {
    margin-top: 60px !important;
  }
}

