@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --transition-principal: 0.35s;
}

body {
  font-size: 1.6rem;
  font-family: Sofia Sans, sans-serif;

  background-color: #dceaff;
}

/* =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* CONTAINER HOME =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=**/

.container-home {
  max-width: 1920px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  margin: 0 auto;
}


main {

  width: 95%;
  margin: 0 auto;
  max-width: 1920px;
  margin-bottom: 9.2rem;

  display: grid;

  grid-template-rows: repeat(4, auto);
  gap: 7.2rem;
}

main >  * {
  box-shadow: 0 0 24px rgba(122, 122, 122, 0.267);
}

/* =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* MAIN =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

/* DESKTOPS ALTA RESOLUÇÃO*/


/* -=-=- Área de ofertas -=-=-*/
.ofertas {
  display: grid;
  grid-template-rows: 7rem 1fr;
  background-color: white;
}

main .titulo {
  background-color: #062f76;
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
  gap: 0.5rem;
}

main .titulo h1 {
  color: white;


}
main .titulo svg {
  height: 52%;
  color: white;

  stroke: white;
  stroke-width: 2px;

}

main a {
  text-decoration: none;
}
/* Container dos anúncios */
.flex-anuncios{
  

  gap: 1.25%;

  align-content: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;

  padding: 48px 20px;

}

/* Anúcio em si */
.caixa-anuncio {
  height: 430px;
  width: 100%;
  max-width: 19%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.071);
  border: 1px solid rgba(138, 138, 138, 0.252);
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 200px auto auto;
  transition: 0.15s;
  position: relative;
  margin-bottom: 20px;
}

.caixa-anuncio:hover {
  box-shadow: 0 0 15px rgba(134, 134, 134, 0.629);
  cursor: pointer;
}

.caixa-anuncio svg {
  color: #c92a2a;
  display: none;
  position: absolute;
}

.caixa-anuncio:hover svg {
  width: 28px;
  color: #c92a2a;
  background-color: rgb(253, 253, 253);
  box-sizing: initial;
  padding: 5px;
  border-radius: 10000px;
  border: 1px solid rgba(128, 128, 128, 0.13);
  display: inline-block;
  position: absolute;
  right: 16px;
  top: 16px;
}

.caixa-anuncio:hover svg:hover {
  box-shadow: 0 0 10px rgba(197, 197, 197, 0.233);
}

.caixa-anuncio .imagem img {
  margin-top: 10px;
  height: 200px;
  width: 100%;
  user-select: none;
  object-fit: contain;
}

/* INFO-PRODUTO*/

.caixa-anuncio .info-prod {
  padding: 10px;
  display: grid;
  grid-template-rows: 80px 1fr;
  text-align: start;
}

/* Titulo produto*/
.caixa-anuncio .info-prod .caixa-titulo {


  color: rgb(63, 63, 63);

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  margin-top: 10px;


}

/* Preço produto */
.caixa-anuncio .info-prod .preco {
  margin-top: 12px;
  margin-bottom: 20px;
  align-self: end;
  font-size: 28px;
  font-weight: 900;
  color: #c92a2a;
  position: relative;

  align-self: end;
}

.caixa-anuncio .info-prod .preco::after {
  content: "À vista no pix";
  position: absolute;
  font-size: 12px;
  bottom: -12px;
  left: 0;
  color: rgb(100, 100, 100);
}

/* BOTÃO  COMPRAR*/
.botao-comprar {
  text-align: center;

  align-self: end;
}

.botao-comprar button {
  width: 95%;
  height: 40px;

  font-family: sofia sans;
  
  border: none;
  color: white;
  background-color: rgb(0, 40, 121);
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.1s;

}
.botao-comprar button:hover {
  cursor: pointer;
  transform: scale(1.005);
}

/* Promoção anúncio */
/* .ofertas .caixa-anuncio::before {
  content: "-50%";
  border-radius: 0.5rem;
  position: absolute;
  font-weight: 800;
  color: #1e3d74;
  top: 1rem;
  left: 1rem;
  white-space: nowrap;
  width: 32px;
  height: 32px;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
} */
.ofertas .flex-anuncios .caixa-anuncio .promo {
  display: none;
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 12px;
  left: 12px;
  background-color: #062f76;
  
}
.ofertas .flex-anuncios .caixa-anuncio .promo svg {
  width: 5px;
  color: black;
}
/* -=-=- 1º BANNER -=-=- */
.banner-main img {
  width: 100%;
}


/* -=-=- MAIS VENDIDOS -=-=- */
.mais-vendidos {
  display: grid;
  grid-template-rows: 7rem 1fr;
  background-color: rgb(250, 250, 250);
}

/* -=-=- DEPARTAMENTOS -=-=- */
.departamentos {
  display: grid;
  grid-template-rows: 7rem 1fr;

}

.departamentos .titulo svg {
  margin-bottom: 1px;
  height: 55%;
}

.grid-departamentos {

  height: 750px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  background-color:white;
}
.grid-departamentos .dep {
  padding: 12px;


}
.grid-departamentos .dep .dep-flex {
  width: 100%;
  height: 100%;
  display: flex;
  
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgb(194 194 194 / 35%);
  text-decoration: none;
  color: #3f3f3f;
}
.grid-departamentos .dep .dep-flex:hover {
  box-shadow: 0px 0px 20px 0px rgba(194, 194, 194, 0.575);
}
.grid-departamentos .dep .dep-flex img {
  margin-top: 10px;
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.grid-departamentos .dep .dep-flex h2 {
  margin-bottom: 1rem;
}
/* -=-=-=- MEDIA QUERIES -=-=-=- */

/* Computadores desktop de resolução média */
@media (max-width: 1568px) {
  .flex-anuncios {
    gap: calc(4% / 4 + 4% / 12);
  }

  .caixa-anuncio {
    height: calc(1.6 * 0.24 * var(--width));
    max-width: 24%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.071);
    border: 1px solid rgba(138, 138, 138, 0.252);

    border-radius: 5px;
    display: grid;
    grid-template-rows: 220px 1fr auto;
    transition: 0.15s;
  }
}
/* Desktops ou tablets de resolução baixa */
@media (max-width: 1320px) {
  .flex-anuncios {
    gap: calc(3.1% / 3 + 3.1% / 6);
  }

  .caixa-anuncio {
    height: calc(1.5 * 0.323 * var(--width));
    max-width: 32.3%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.071);
    border: 1px solid rgba(138, 138, 138, 0.252);

    border-radius: 5px;
    display: grid;
    grid-template-rows: 220px 1fr auto;
    transition: 0.15s;
  }


}

/* Tablets e outros dispositivos mobiles */
@media (max-width: 1077px) {
  .container {
    margin-top: 60px !important;
  }
  
  .flex-anuncios {
    gap: calc(2% / 2 + 1%);
  }

  .caixa-anuncio {
    height: calc(1.5 * 0.49 * var(--width));
    max-width: 49%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.071);
    border: 1px solid rgba(138, 138, 138, 0.252);

    border-radius: 5px;
    display: grid;
    grid-template-rows: 220px 1fr auto;
    transition: 0.15s;
  }

  .caixa-anuncio svg {
    display: inline-block;
    width: 28px;
    background-color: rgb(253, 253, 253);
    box-sizing: initial;
    padding: 5px;
    border-radius: 10000px;
    border: 1px solid rgba(128, 128, 128, 0.13);
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 16px;
  }

    /* Departamentos*/
    .grid-departamentos {
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(4, 25%);
    }
}

/* Celulares */
@media (max-width: 670px) {
  
  main {
    width: 95% !important;
  }
  
  main h1 {
    font-size: 20px;
  }
  main .titulo svg {
    height: 35%;
  }
  .flex-anuncios {
    gap: 0;
    flex-direction: column;
    padding: 0px;
    border-radius: 5px;
  }

  .caixa-anuncio {
    width: 100%;
    max-width: none;
    box-sizing: initial;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.071);
    border: 1px solid rgba(138, 138, 138, 0.252);

    border-radius: 5px;
    display: grid;
    grid-template-rows: 220px 1fr auto;
    transition: 0.15s;
  }

  .grid-departamentos {
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(8, 12.5%);
  }

}


/* =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=* SLIDER =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=**/
.banners{
  display: none;
  margin-bottom: 12rem;
}
.slick-dots li button:before {
  font-size: 10px !important;
  color: #4d4d4d !important;
  
}
.slick-dots {
  bottom: 15px !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #4f7dcc !important;
}

.slider-container img {
  width: 100%;
  position: relative;
}

.banners span svg {
  width: 50px;
}

/* Cards */
.card {
  user-select: none;
}




/* Movimenta as setas */
.seta-volta,
.seta-avanca {
  z-index: 100;
  top: 49%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.69);
}
.seta-volta:hover,
.seta-avanca:hover {
  color: white;
  cursor: pointer;
}

.seta-avanca {
  position: absolute;
  right: 0;
}

.seta-volta {
  position: absolute;
  left: 0;
}


@media (max-width: 1077px) {
  .slick-arrow, .seta-avanca, .seta-volta {
    display: none;
  }
}

@media (max-width: 670px) {
  .banners{
    margin-bottom: 2.4rem;
  }

  .slider-container img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
}
