@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --transition-principal: 0.35s;
}

body {
  font-size: 1.6rem;
  font-family: Sofia Sans, sans-serif;

  background-color: #dceaff;
}


.container-principal {
  max-width: 1300px;
  width: 95%;


  margin: 0 auto;
  margin-top: 72px;
  margin-bottom: 96px;
}
.container-principal > *{
  box-shadow: 0 0 32px rgba(122, 122, 122, 0.274);
}

/* Container do produto*/
.container-produto {

  padding: 36px;

  margin-bottom: 72px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;

  display: grid;
  grid-template-rows: auto 1fr;


  row-gap: 20px;
}

h1 {
  font-size: 24px;
  grid-row: 1;
  grid-column: 1/ -1;
  color: #202020;
  border-bottom: 1px solid rgba(155, 155, 155, 0.5);
  
  padding-bottom: 32px;
}

.area-produto {
  display: flex;
  gap: 32px;
  padding: 32px 0;

}

.caixa-img {
  height: 500px;
  min-width: 500px;
  flex-shrink: 0;
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: center;

}

.caixa-img img {
  height: 100%;
  width: 100%;
  max-width: 500px;
  object-fit: contain;
}



.info-produto {

  flex-grow: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  
  padding: 32px 16px;
}

.info-produto .opcoes-produto {
  display: flex;
  align-items: center;
}

.info-produto .opcoes-produto {
  font-size: 16px;
  color: gray;
}

.status-produto {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;

}

.status-produto li {
  display: flex;
  align-items: center;
  gap: 6px;
}

.status-produto li svg {
  color: rgb(137, 198, 255);
  height: 24px !important;

}

.info-produto .opcoes-produto svg{
  height: 32px;
}
/* preco */
.caixa-preco {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 12px;
  color: rgb(163, 163, 163);
}

#preco-produto::before {
  content: "À vista";
  position: absolute;
  font-size: 16px;
  color: gray;
  top: -24px;
}

#preco-produto {
  font-size: 42px;
  color: #2076d8;
  font-weight: 800;
  position: relative;
}

.caixa-preco h4 {
  font-size: 22px;
  color: rgb(70, 70, 70);
}


.info-produto .btn-add-carrinho svg{
  height: 32px;
}

.info-produto .btn-add-carrinho  {
  display: flex;
  align-items: center;
  font-size: 24px;
  justify-content: center;
  gap: 6px;
  padding: 10px 0;
  border: none;
  background-color: rgb(196, 0, 0);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.info-produto .btn-add-carrinho:hover {
  background-color: rgb(151, 0, 0);
}

.form-calculo-cep {
  font-size: 20px;
  display: flex;
  align-items: center;
  
}
.form-calculo-cep label {
  margin-right: 24px;
}
.form-calculo-cep input {
  height: 48px;
  width: 40%;
  outline: none;
  border: none;
  padding: 0 10px;
  font-size: 18px;
  border-left: 1px solid rgb(194, 194, 194);
  border-top: 1px solid rgb(194, 194, 194);
  border-bottom: 1px solid rgb(194, 194, 194);
  
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

}

.submit_calculo-cep{
  height: 48px;
  padding: 10px;
  font-size: 20px;
  background-color:  #4290e9;
  color: white;
  border: none;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;


}
.submit_calculo-cep:hover {
  background-color: #3d83d3;
}

/* slide Imagem */
.slide-imagens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  height: 100%;
  min-width: 80px;
}
.slide-imagens button {
  border: none;
  width: 100%;
  height: 40px;
  background: none;
  color: rgb(54, 54, 54);
  opacity: 0.7;
}

.slide-imagens button:first-child {
  margin-bottom: 24px;
}

.slide-imagens button:last-child {
  margin-top: 24px;
}


.slide-imagens button:hover {
  opacity: 1;
  cursor: pointer;
}

.slide-imagens button svg {
  height: 100%;
}
.slide-imagens .container-imagens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.slide-imagens .container-imagens img {
  height: 80px;
  width: 100%;
  object-fit: contain;
  border: 2px solid rgba(59, 59, 59, 0.219);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.slide-imagens .container-imagens img.ativa {
  border: 2px solid rgba(59, 59, 59, 0.575);
}

.slide-imagens .container-imagens img:hover {
border: 2px solid rgba(59, 59, 59, 0.575);
}
/* Container Descrição*/

.container-descricao {
  display: flex;
  width: 100%;
  background-color: white;
  margin: auto;
  flex-direction: column;
  padding: 20px;
  line-height: 130%;
  margin-bottom: 100px;
  border-radius: 6px;
}
.container-descricao h3 {
  text-align: center;
  margin: 10px 0;
}

/* modal */

.modal-add-produto.fechado, .overlay.fechado {
  visibility: hidden;
}

.modal-add-produto {
  text-align: center;
  position: fixed;

  padding: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal-add-produto h3 {
  font-size: 24px;
  margin-bottom: 32px;
  display: flex;
  gap:  8px;
}

.modal-add-produto svg {
  height: 28px;
  color: rgb(0, 161, 0);
}

.modal-add-produto .flex-botoes {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.modal-add-produto button {
  padding: 6px 12px;
  font-size: 17px;
}

.continuar-comprando {
  border-radius: 5px;
  border: none;
  background-color: rgb(170, 170, 170);
  color: white;
  cursor: pointer;
}
.continuar-comprando:hover {
  background-color: rgb(124, 124, 124);
}

.modal-add-produto .fecha-modal {
  position: absolute;
  top: 0;
  right: 2px;
  color: rgb(109, 108, 108);
  height: 18px;
  cursor: pointer;
}

.modal-add-produto .botao-carrinho-modal{
  border: none;
  background-color: #003caa;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal-add-produto .botao-carrinho-modal:hover {
  background-color: #02318a;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}