<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de erro</title>
    <style>
        main{
           display: flex;
           flex-direction: column;
           justify-content:center;
           align-items: center;
           margin: 250px 0px; 
          
        }
    </style>
</head>
<body>
    <%- include("./partials/hamburguer.ejs") %> <%-
    include("./partials/header.ejs") %>
    
    <main class="main">
        
        <h2>Lamentamos, nenhum produto encontrado com esse critério de pesquisa</h2>
        <p>Tente novamente com outro termo para busca...</p>
       
    </main>

    <%- include("./partials/footer.ejs"); %>
    
</body>
</html>