<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar produto</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg" />

    <style>
      h1 {
        margin-bottom: 24px;
        text-align: center;
      }
      .criar-produto-form {
        display: flex;
        flex-direction: column;

        gap: 24px;
        margin: 48px auto;
        margin-bottom: 96px;
        width: 60%;
        padding: 24px;
      }
      .criar-produto-form > * {
        display: flex;
        flex-direction: column;
      }
      label {
        margin-bottom: 6px;
      }
      input {
        padding: 5px 32px 5px 12px;

        font-size: 17px;
      }

      .form-descricao {
        min-height: 140px;
        height: 100%;
        resize: none;
      }

      .btn-criar {
        padding: 12px;
        max-width: 80px;
        background-color: rgb(0, 148, 0);
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        display: block;
        text-align: center;
      }
      .btn-criar:hover {
        background-color: rgb(0, 105, 0);
      }

      .div-btn {
        display: flex;
        justify-content: flex-start !important;
      }

      .dep {
        resize: none;
        padding: 10px 0;
        padding-left: 16px;
        padding-right: 64px;
        font-size: 16px;
        border-radius: 0.25rem;
        width: 222px;
        border: 1px solid rgba(97, 97, 97, 0.726);
        background-color: white;

        font-family: sofia sans;
        color: rgb(49, 49, 49);
      }
      .form-sub-departamento {
        display: none;
      }

      .errors-list {
        background-color: rgb(255, 214, 214);
        padding: 16px 0;
        border-radius: 5px;
        list-style: initial !important;

      }
      .errors-list li {
        color: rgb(168, 0, 0);
        list-style-type: disc;
        margin: 0 32px;
      }

      .prod_add {
        background-color: rgb(196, 255, 196);
        color: green;
        padding: 16px;
      }
    </style>
  </head>
  <body>
    <%-include("./partials/header.ejs") %> <%-
    include("./partials/hamburguer.ejs") %>
    <% if(typeof(sucess)!= "undefined") {%>
    <h1 class="prod_add">Produto Adicionado com sucesso</h1>
    <%}%>
    <main>
      <form
        action="/criarproduto"
        method="POST"
        class="criar-produto-form"
        enctype="multipart/form-data"
      >
        <h1>Criação de Produto</h1>
        <% if(typeof errorsVal !== "undefined") { %>
        <ul class="errors-list">
          <% for(let error in errorsVal) { %>
          <li class="error"><%=errorsVal[error].msg%></li> 
          <% } %>
        </ul>
        <% } %>
        <div class="form-nome">
          <label for="nome">Nome:</label>
          <input
            type="text"
            id="name"
            name="nome"
            placeholder="Insira o nome do produto"
            required
          />
        </div>
        <div class="form-preco">
          <label for="preco">Preço:</label>
          <input
            type="text"
            id="preco"
            name="preco"
            placeholder="Insira o preco do produto"
            required
            oninvalid="this.setCustomValidity('Esse número não é válido !')"
          />
        </div>
        <div class="form-fabricante">
          <label for="fabricante">Fabricante:</label>
          <input
            type="text"
            id="fabricante"
            name="fabricante"
            placeholder="Insira o preco do produto"
            required
          />
        </div>
        <div class="form-departamento">
          <label for="id_departamento">Departamento:</label>
          <select name="id_departamento" id="select-dep" class="dep" required>
            <option value="" disabled selected hidden>Selecione</option>
            <option value="1">Computador</option>
            <option value="2">Hardware</option>
            <option value="3">Periféricos</option>
            <option value="4">Notebooks</option>
            <option value="5">Kit Upgrade</option>
            <option value="6">Cadeiras Gamer</option>
            <option value="7">Monitores</option>
            <option value="8">Celulares</option>
            <option value="9">Games</option>
          </select>
        </div>
        <div class="form-sub-departamento">
          <label for="id_sub_departamento">Sub-Departamento:</label>
          <select
            name="id_sub_departamento"
            id="select-sub-dep"
            class="dep"
          ></select>
        </div>
        <div class="form-descricao">
          <label for="description">Descrição:</label>
          <textarea
            name="descricao"
            class="form-descricao"
            cols="100"
            rows="10"
          ></textarea>
        </div>

        <div class="">
          <label for="imagens" class="form-label">Imagem:</label>
          <input
            type="file"
            id="image"
            name="imagens"
            class="form-input"
            accept="image/*"
            multiple
            required
          />
        </div>
        <div class="div.btn">
          <button type="submit" class="btn-criar">CRIAR</button>
        </div>
      </form>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>

  <script>
    const depForm = document.querySelector("#select-dep");
    const subDepForm = document.querySelector("#select-sub-dep");
    const formSubDep = document.querySelector(".form-sub-departamento");

    depForm.innerHTML;
    depForm.addEventListener("change", function (e) {
      switch (this.value) {
        case "1": {
          formSubDep.style.display = "flex";
          subDepForm.removeAttribute("disabled");
          subDepForm.innerHTML = `
            <option value="1">Pc Gamer</option>
            <option value="2">PC Escritorio</option>
            <option value="3">PC Casual</option>
          `;
          break;
        }
        case "2": {
          formSubDep.style.display = "flex";
          console.log("ativou");
          subDepForm.removeAttribute("disabled");
          subDepForm.innerHTML = `
            <option value="4">Processador</option>
            <option value="5">Placa de Vídeo</option>
            <option value="6">Placa Mãe</option>
            <option value="7">Memória</option>
            <option value="8">Armazenamento</option>
            <option value="9">Cooler</option>
          `;
          break;
        }
        case "3": {
          formSubDep.style.display = "flex";
          subDepForm.removeAttribute("disabled");
          subDepForm.innerHTML = `
            <option value="10">Teclado</option>
            <option value="11">Mouse</option>
            <option value="12">Fone</option>
            <option value="13">Headset</option>
            <option value="14">Webcam</option>
          `;
          break;
        }
        case "4": {
          formSubDep.style.display = "flex";
          subDepForm.removeAttribute("disabled");
          subDepForm.innerHTML = `
            <option value="15">Macbook</option>
            <option value="16">Notebook Gamer</option>
            <option value="17">Notebook Escritório</option>
          `;
          break;
        }
        default: {
          formSubDep.style.display = "none";
          subDepForm.setAttribute("disabled", "");
          subDepForm.innerHTML = `
          <option value="" selected>Escolha</option>
          `;
        }
      }
    });

    //Faz a validação do number
    const btnEnvia = document.querySelector(".btn-criar");

    btnEnvia.addEventListener("click", function (e) {
      const inputPreco = document.getElementById("preco");

      const valor = Number(inputPreco.value);
      console.log(valor)
      if (!valor || isNaN(valor)) {
        console.log(valor);
        inputPreco.reportValidity();
      }
    });

    const prodAdd = document.querySelector(".prod_add");
    if(prodAdd) {
      setTimeout(() => {
        prodAdd.remove();
      }, 4000)
    }

  </script>
</html>
