
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Login | Tech Star</title>
</head>
<body>
    <div class="container">
        <div class="img">
            <a href="/src/views/index.ejs"><img src="/images/headerImages/logo 2 degradê+texto sem BG.svg"></a> 
        </div>
        <div class="formLogin" id="formLogin">
            <form action="/login" method="POST">
                <div class="formHeader">
                    <div class="title">
                        <h1>Login</h1>
                    </div>
                </div>

                <div class="inputs">
                    <div class="inputbox">
                        <label for="email">Email:</label>
                        <input name="email" id="email" type="email" placeholder="Digite seu email">
                    </div>
                    <div class="inputbox">
                        <label for="password">Senha:</label>
                        <input name="senha" id="password" type="password" placeholder="Digite sua senha">
                    </div>
                </div>

                <div class="signupClick">
                    <p>Não é cadastrado? </p><a href="../cadastro/cadastro.html"> Clique Aqui.</a>
                </div>

                <div class="loginButton">
                    <button type="submit" id="loginButton">Entrar</button>
                </div>
                <div class="msg"></div>
            </form>
        </div>
    </div>
    <script src="/javascripts/login.js"></script>
</body>
</html>