<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Star | Os Melhores Produtos de Tecnologia do Mercado</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg" />
    <link rel="stylesheet" href="/stylesheets/card-produto.css" />
    <link rel="stylesheet" href="/stylesheets/produtos.css" />
  </head>
  <body>
    <%-include("./partials/header.ejs") %> <%-
    include("./partials/hamburguer.ejs") %>

    <main>
      <div class="filtros-produtos">
        <h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M18.75 12.75h1.5a.75.75 0 000-1.5h-1.5a.75.75 0 000 1.5zM12 6a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 6zM12 18a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 18zM3.75 6.75h1.5a.75.75 0 100-1.5h-1.5a.75.75 0 000 1.5zM5.25 18.75h-1.5a.75.75 0 010-1.5h1.5a.75.75 0 010 1.5zM3 12a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 013 12zM9 3.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zM12.75 12a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zM9 15.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"
            />
          </svg>

          Filtrar por :
        </h2>

        <!-- Filtro preco-->
        <details open class="filtro-preco">
          <summary>
            Preço
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </summary>
          <form class="deslizador-preco">
            <h4>Intervalo de preco</h4>

            <div class="range-slider">
              <input
                type="range"
                class="min-price"
                value="100"
                min="10"
                max="500"
                step="10"
              />
            </div>
          </form>
        </details>

        <details open>
          <summary>
            Fabricantes
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </summary>
          <form action="opcoes-filtro">
            <label for="">
              <input type="checkbox" name="" id="" />
              opcao 1
            </label>

            <label for="">
              <input type="checkbox" name="" id="" />
              opcao 2
            </label>

            <label for="">
              <input type="checkbox" name="" id="" />
              opcao 3
            </label>

            <label for="">
              <input type="checkbox" name="" id="" />
              opcao 4
            </label>

            <label for="">
              <input type="checkbox" name="" id="" />
              opcao 5
            </label>
          </form>
        </details>
      </div>

      <div class="header-filtros">
        <span
          >Mostrando <strong>1</strong> à <strong id="quantid-produtos"></strong
        ></span>
        <div class="filtro-header f1">
          <span class="titulo-filtro">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 7.5L7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5"
              />
            </svg>

            Ordenar Por:
          </span>
          <form>
            <select name="" id="" class="select-ord">
              <option value="maisproc">Mais Procurados</option>
              <option value="menorp">Menor Preço</option>
              <option value="maiorp">Maior Preço</option>
            </select>
          </form>
        </div>
      </div>

      <div class="area-produtos">
        <!-- Área Anúncios -->
        <div class="flex-anuncios">
          <%produtos.forEach((produto) => { %> <%-
          include("./partials/cardProduto", {produto}); %> <% }); %>
        </div>
      </div>
    </main>

    <%- include("./partials/footer.ejs") %>

    <script src="/javascripts/produtos.js"></script>
  
  </body>
</html>
