<div class="push-menu-container">
  <div class="area-logo">
    <h2>Departamentos</h2>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      id="fecha-menu"
    >
      <path
        fill-rule="evenodd"
        d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
        clip-rule="evenodd"
      />
    </svg>
  </div>

  <button class="btn-montepc">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-6 h-6"
    >
      <path
        fill-rule="evenodd"
        d="M12 6.75a5.25 5.25 0 016.775-5.025.75.75 0 01.313 1.248l-3.32 3.319c.063.475.276.934.641 1.299.365.365.824.578 1.3.64l3.318-3.319a.75.75 0 011.248.313 5.25 5.25 0 01-5.472 6.756c-1.018-.086-1.87.1-2.309.634L7.344 21.3A3.298 3.298 0 112.7 16.657l8.684-7.151c.533-.44.72-1.291.634-2.309A5.342 5.342 0 0112 6.75zM4.117 19.125a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75h-.008a.75.75 0 01-.75-.75v-.008z"
        clip-rule="evenodd"
      />
      <path
        d="M10.076 8.64l-2.201-2.2V4.874a.75.75 0 00-.364-.643l-3.75-2.25a.75.75 0 00-.916.113l-.75.75a.75.75 0 00-.113.916l2.25 3.75a.75.75 0 00.643.364h1.564l2.062 2.062 1.575-1.297z"
      />
      <path
        fill-rule="evenodd"
        d="M12.556 17.329l4.183 4.182a3.375 3.375 0 004.773-4.773l-3.306-3.305a6.803 6.803 0 01-1.53.043c-.394-.034-.682-.006-.867.042a.589.589 0 00-.167.063l-3.086 3.748zm3.414-1.36a.75.75 0 011.06 0l1.875 1.876a.75.75 0 11-1.06 1.06L15.97 17.03a.75.75 0 010-1.06z"
        clip-rule="evenodd"
      />
    </svg>

    Monte seu PC
  </button>

  <!-- Dropdown -->
  <ul class="dropdown-hamburguer">
    <li>
      <a>DEPARTAMENTO 1 </a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.5 15.75l7.5-7.5 7.5 7.5"
        />
      </svg>
    </li>
    <ul class="sub_m s1">
      <li><a href="">sub dep 1</a></li>
      <li><a href="">sub dep 2</a></li>
      <li><a href="">sub dep 3</a></li>
    </ul>
    <li>
      DEPARTAMENTO 2
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.5 15.75l7.5-7.5 7.5 7.5"
        />
      </svg>
    </li>
    <ul class="sub_m s2">
      <li>
        <a> sub dep 1</a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 15.75l7.5-7.5 7.5 7.5"
          />
        </svg>
      </li>
      <ul class="sub_m sub_m_cam_2">
        <li><a href="">sub sub menu 1</a></li>
        <li><a href=""> sub sub menu 2</a></li>
      </ul>
      <li><a href=""> sub dep 2</a></li>
      <li><a href=""> sub dep 3</a></li>
      <li><a href=""> sub dep 4</a></li>
      <li><a href=""> sub dep 5</a></li>
      <li><a href=""> sub dep 6</a></li>
    </ul>

    <li>
      DEPARTAMENTO 3
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.5 15.75l7.5-7.5 7.5 7.5"
        />
      </svg>
    </li>
    <ul class="sub_m s2">
      <li>
        <a> sub dep 1</a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 15.75l7.5-7.5 7.5 7.5"
          />
        </svg>
      </li>
      <ul class="sub_m sub_m_cam_2">
        <li><a href="">sub sub menu 1</a></li>
        <li><a href=""> sub sub menu 2</a></li>
        <li><a href=""> sub sub menu 2</a></li>
        <li><a href=""> sub sub menu 2</a></li>
        <li><a href=""> sub sub menu 2</a></li>
        <li><a href=""> sub sub menu 2</a></li>
        <li><a href=""> sub sub menu 2</a></li>
      </ul>
      <li><a href=""> sub dep 2</a></li>
      <li><a href=""> sub dep 3</a></li>
      <li><a href=""> sub dep 4</a></li>
      <li><a href=""> sub dep 5</a></li>
      <li>
        <a> sub dep 6</a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 15.75l7.5-7.5 7.5 7.5"
          />
        </svg>
      </li>
      <ul class="sub_m sub_m_cam_2">
        <li><a href="">sub sub menu 1</a></li>
        <li><a href=""> sub sub menu 2</a></li>
        <li><a href=""> sub sub menu 2</a></li>
        <li><a href=""> sub sub menu 2</a></li>
        <li><a href=""> sub sub menu 2</a></li>
        <li><a href=""> sub sub menu 2</a></li>
        <li><a href=""> sub sub menu 2</a></li>
      </ul>
    </ul>
    <li>DEPARTAMENTO 4</li>
    <li>DEPARTAMENTO 5</li>
    <li>DEPARTAMENTO 6</li>
    <li>DEPARTAMENTO 7</li>
    <li>DEPARTAMENTO 8</li>
  </ul>
</div>

<link rel="stylesheet" href="/stylesheets/hamburguer.css">
<script defer src="/javascripts/hamburguer.js"></script>