<!-- Header -->
<header>
  <nav>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="hamburguer-mobile"
    >
      <path
        fill-rule="evenodd"
        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
        clip-rule="evenodd"
      />
    </svg>
    <!-- logo mobile -->
    <a href="/" class="container-mobile"
      ><img
        src="/images/headerImages/Logo sozinha.svg"
        alt=""
        class="logo-mobile-texto"
    /></a>
    <!-- LOGO -->
    <a href="/" class="logo-container">
      <img
        class="logo"
        src="/images/headerImages/logo 2 degradê+texto Horizontal.svg"
        alt=""
      />
    </a>
    <!-- BARRA DE PESQUISA -->
    <div class="barra-pesquisa">
      <form action="/busca" method="GET">
        <input type="text" placeholder="Digite o que você procura" name="keywords" />
        <button>
          <svg
            class="icone-pesquisa"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
        </button>
      </form>
    </div>
    <!-- AREA USUÁRIO -->
    <div class="user-mensagem">
      <svg
        class="user icon-nav"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
      >
        <path
          fill-rule="evenodd"
          d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
          clip-rule="evenodd"
        />
      </svg>
      <p>
        <a href="cadastro/cadastro.html" class="strong">Cadastre-se</a>
        <br />
        ou <a href="login/login.html" class="strong">faça Login</a>
      </p>
    </div>
    <!-- CARRINHO E DESEJOS -->
    <div class="opcoes-nav">
      <a href="" class="link-desejos">
        <svg
          class="desejos icon-nav"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
        >
          <path
            d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"
          />
        </svg>
      </a>

      <a href="/carrinho" class="link-carrinho">
        <svg
          class="carrinho icon-nav"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
        >
          <path
            d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"
          />
        </svg>
      </a>
    </div>
  </nav>
  <ul class="menu">
    <!-- DEPARTAMENTOS -->
    <li class="menu-dep">
      <a class="e1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="hamburguer"
        >
          <path
            fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd"
          />
        </svg>
        DEPARTAMENTOS
      </a>

      <ul class="sub-menu">
        <!-- COMPUT -->
        <li class="iterable">
          <a href="#">
            Computadores
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"
              />
            </svg>
          </a>

          <ul class="sub-menu_2">
            <li><a href="">Gamer</a></li>
            <li><a href="">Casual</a></li>
            <li><a href="">Home Office</a></li>
          </ul>
        </li>
        <!-- HARD -->
        <li class="iterable">
          <a href="#"
            >Hardware
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"
              />
            </svg>
          </a>

          <ul class="sub-menu_2">
            <li><a href="">Processadores</a></li>
            <li><a href="">Placa de Vídeo</a></li>
            <li><a href="">Placa Mãe</a></li>
            <li><a href="">Memórias</a></li>
            <li><a href="">Armazenamento</a></li>
            <li><a href="">Refrigeramento</a></li>
          </ul>
        </li>
        <!-- PERIF -->
        <li class="iterable">
          <a href="#"
            >Periféricos
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"
              />
            </svg>
          </a>

          <ul class="sub-menu_2">
            <li><a href="">Teclado</a></li>
            <li><a href="">Mouse</a></li>
            <li><a href="">Fone de Ouvido</a></li>
            <li><a href="">Microfones e Headsets</a></li>
            <li><a href="">Webcam</a></li>
            <li><a href="">Kits Periféricos</a></li>
          </ul>
        </li>
        <!--  NOTEBOOKS -->
        <li class="iterable">
          <a href="">
            Notebooks
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"
              />
            </svg>
          </a>

          <ul class="sub-menu_2">
            <li><a href="">Macbook</a></li>
            <li><a href="">Notebook Gamer</a></li>
            <li><a href="">Notebook Escritório</a></li>
          </ul>
        </li>

        <li>
          <a href=""> Kit Upgrade </a>
        </li>

        <li>
          <a href="#">Cadeiras Gamer </a>
        </li>

        <li>
          <a href=""> Monitores </a>
        </li>

        <li>
          <a href=""> Celulares </a>
        </li>

        <li>
          <a href="#">Games </a>
        </li>
      </ul>
    </li>
    <!-- COMPUTADORES -->
    <li>
      <a href="/produto">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"
          />
        </svg>
        COMPUTADORES
      </a>

      <ul class="sub-menu">
        <!-- COMPUT -->
        <li>
          <a href=""> Gamer </a>
        </li>

        <li>
          <a href=""> Escritório </a>
        </li>

        <li>
          <a href="#">Casual</a>
        </li>
      </ul>
    </li>
    <!--HARDWARE-->
    <li>
      <a href="produtos/produtos.html">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 002.25-2.25V6.75a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 6.75v10.5a2.25 2.25 0 002.25 2.25zm.75-12h9v9h-9v-9z"
          />
        </svg>

        HARDWARE
      </a>
      <ul class="sub-menu">
        <li><a href="">Processadores</a></li>
        <li><a href="">Placa de Vídeo</a></li>
        <li><a href="">Placa Mãe</a></li>
        <li><a href="">Memórias</a></li>
        <li><a href="">Armazenamento</a></li>
        <li><a href="">Refrigeramento</a></li>
      </ul>
    </li>
    <!-- PERIFÉRICOS -->
    <li>
      <a href="produtos/produtos.html">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="mouse"
        >
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            d="M11.141 4c-1.582 0-2.387.169-3.128.565a3.453 3.453 0 0 0-1.448 1.448C6.169 6.753 6 7.559 6 9.14v5.718c0 1.582.169 2.387.565 3.128.337.63.818 1.111 1.448 1.448.74.396 1.546.565 3.128.565h1.718c1.582 0 2.387-.169 3.128-.565a3.453 3.453 0 0 0 1.448-1.448c.396-.74.565-1.546.565-3.128V9.14c0-1.582-.169-2.387-.565-3.128a3.453 3.453 0 0 0-1.448-1.448C15.247 4.169 14.441 4 12.86 4H11.14zm0-2h1.718c2.014 0 3.094.278 4.072.801a5.452 5.452 0 0 1 2.268 2.268c.523.978.801 2.058.801 4.072v5.718c0 2.014-.278 3.094-.801 4.072a5.452 5.452 0 0 1-2.268 2.268c-.978.523-2.058.801-4.072.801H11.14c-2.014 0-3.094-.278-4.072-.801a5.452 5.452 0 0 1-2.268-2.268C4.278 17.953 4 16.873 4 14.859V9.14c0-2.014.278-3.094.801-4.072A5.452 5.452 0 0 1 7.07 2.801C8.047 2.278 9.127 2 11.141 2zM11 6h2v5h-2V6z"
          />
        </svg>
        PERIFÉRICOS
      </a>

      <ul class="sub-menu">
        <li><a href="">Teclado</a></li>
        <li><a href="">Mouse</a></li>
        <li><a href="">Fone de Ouvido</a></li>
        <li><a href="">Microfones e Headsets</a></li>
        <li><a href="">Webcam</a></li>
        <li><a href="">Kits Periféricos</a></li>
      </ul>
    </li>
    <!-- MONTEU SEU PC -->
    <li class="monte-pc">
      <a href="/monteseupc" class="e2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M14.5 10a4.5 4.5 0 004.284-5.882c-.105-.324-.51-.391-.752-.15L15.34 6.66a.454.454 0 01-.493.11 3.01 3.01 0 01-1.618-1.616.455.455 0 01.11-.494l2.694-2.692c.24-.241.174-.647-.15-.752a4.5 4.5 0 00-5.873 4.575c.055.873-.128 1.808-.8 2.368l-7.23 6.024a2.724 2.724 0 103.837 3.837l6.024-7.23c.56-.672 1.495-.855 2.368-.8.096.007.193.01.291.01zM5 16a1 1 0 11-2 0 1 1 0 012 0z"
            clip-rule="evenodd"
          />
          <path
            d="M14.5 11.5c.173 0 .345-.007.514-.022l3.754 3.754a2.5 2.5 0 01-3.536 3.536l-4.41-4.41 2.172-2.607c.052-.063.147-.138.342-.196.202-.06.469-.087.777-.067.128.008.257.012.387.012zM6 4.586l2.33 2.33a.452.452 0 01-.08.09L6.8 8.214 4.586 6H3.309a.5.5 0 01-.447-.276l-1.7-3.402a.5.5 0 01.093-.577l.49-.49a.5.5 0 01.577-.094l3.402 1.7A.5.5 0 016 3.31v1.277z"
          />
        </svg>

        <span>MONTE SEU COMPUTADOR</span>
      </a>
    </li>
  </ul>
</header>
<link rel="stylesheet" href="/stylesheets/header.css">
<script src="/javascripts/header.js"></script>